.banner-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px; /* Ajuste conforme necessário */
  overflow: hidden;
  justify-content: center;
  background-color: #167BF7;
  align-items: center;
}
